body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

div {
  background-color: white;
  text-align: center;

}
/* Image of me in the snow */
#snow{
  position:relative;
  width: 55%;
  height: auto;
}

.bio {
  border-radius: 20px;
}
/*margin represents how much space you want
  between the top of the page and your title*/
 /*TODO - h1: remove text-shadow if it doesn't look good*/
/*h1 represents the title "Mansi's Portfolio"*/
h1 {
  color: #003462;
  font-family: 'Playfair Display', serif;
  margin: 0;
  font-size: 3.5vw;
  position:relative;
 
}
#logoImage{
  position:relative;
  width: 5%;
  height: auto;
  padding-right: 2%;
  display:inline-block;
}

.navigationTabs{
  position:relative;
  font-size: 1.5vw;
  
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 1%;
  padding-right: 5%;
  font-family: 'Eczar', serif;
}

li {
  padding: 0px 20px;
  color: white;
}

a {
  text-decoration: none;
  color: #003462;
}

img {
  height: 400px;
  border-radius: 35px;
  margin: 16px 0px;
}

p {
  margin: 1% 20%;
  font-size: 1.5vw;
  font-family: 'Eczar', serif;
  position: relative;
  
}

.PastAdventures{
  position:relative;
  width:50%;
}

.btn{
  position:absolute;
  top:50%;
  left:50%;
  color:white;
  cursor:pointer;
}