body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

div {
  background-color: white;
  text-align: center;

}
/* Image of me in the snow */
#snow{
  position:relative;
  width: 55%;
  height: auto;
}

.bio {
  border-radius: 20px;
}
/*margin represents how much space you want
  between the top of the page and your title*/
 /*TODO - h1: remove text-shadow if it doesn't look good*/
/*h1 represents the title "Mansi's Portfolio"*/
h1 {
  color: #003462;
  font-family: 'Playfair Display', serif;
  margin: 0;
  font-size: 3.5vw;
  position:relative;
 
}

/* Logo position and sizing */
#logoImage{
  position:relative;
  width: 5%;
  height: auto;
  padding-right: 2%;
  display:inline-block;
}

.navigationTabs{
  position: relative;
  font-size: 1.5vw;
  }

.navigationTabs:hover {
  border-bottom: 4px solid #003462;
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 1%;
  padding-right: 5%;
  font-family: 'Alegreya Sans', sans-serif;
}

li {
  color: white;
}

a {
  text-decoration: none;
  color: #003462;
}

img {
  height: auto;
  border-radius: 35px;
  margin: 1% 0px;
}

p {
  margin: 1% 20%;
  font-size: 1.5vw;
  font-family: 'Alegreya Sans', sans-serif;
  position: relative;
}

.PastAdventures{
  position:relative;
  width:50%;
  max-width:100%;
}

.PastAdventures img{
  width: 100%;
  display: block;
/*   position:relative; */
}

.PastAdventures .btn{
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  -ms-translate: translate(-50%, -50%);
  background-color: white;
  color:black;
  text-align:center;
  cursor:pointer;
  font-family: 'Playfair Display', serif;
  font-size: 150%;
  padding: 2%;
  border-radius: 15px;
}

.btn{
  position:absolute;
  top:50%;
  color:white;
  cursor:pointer;
}



/* Activity images and buttons CSS: Graphic Design, UX/UI Design, Computer Science */
.activity1Image {
  position: relative;
  float: left;
}

.activity1Image img {
/*   height: 15em;
  width: 15em; */
/*   object-fit:cover; */
}

.activity1Image .activities {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Playfair Display', serif;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  border-color: black;
  color: black;
  font-size: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
  padding-left: 3%;
  cursor: pointer;
  text-align: center;
}

.activity1Image .activities:hover {
  background-color: black;
  color: white;
  box-shadow: 0px 5px 10px grey;
}
