body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

div {
  background-color: white;
  text-align: center;

}
/* Image of me in the snow */
#snow{
  position:relative;
  width: 55%;
  height: auto;
}

.bio {
  border-radius: 20px;
}
/*margin represents how much space you want
  between the top of the page and your title*/
 /*TODO - h1: remove text-shadow if it doesn't look good*/
/*h1 represents the title "Mansi's Portfolio"*/
h1 {
  color: #003462;
  font-family: 'Playfair Display', serif;
  margin: 0;
  font-size: 4vw;
  position:relative;
 
}
#logoClick{
  background-image:url(https://cdn.glitch.com/42e61ca0-8854-4f03-b49c-80f4a8e7c33b%2FM%20logo%202020%20Version%20-%20dark%20blue.jpg?v=1596603376111);
  

}
#logoImage{
  position:relative;
  width: 6%;
  height: auto;
  padding-right: 2%;
}

.navigationTabs{
  position:relative;
  font-size: 1.75vw;
  
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 1%;
  padding-right: 5%;
  font-family: 'Eczar', serif;
}

li {
  padding: 0px 20px;
  color: white;
}

a {
  text-decoration: none;
  color: #003462;
}

img {
  height: 400px;
  border-radius: 25px;
  margin: 16px 0px;
}

p {
  margin: 1% 20%;
  font-size: 1.5vw;
  font-family: 'Eczar', serif;
  position: relative;
  
}

#bottom-padding {
  height: 20px;
}

#top-padding {
  height: 16px;
}
#small-logo {
  height: 25px;
  margin: 0;
}

.photo-collage {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.photo-collage > div > h3 {
    color: navy;
}

.photo-collage > div > p {
  font-family: 'Pacifico', cursive;
}

#adventureImages, #michigan-photo {
 background-color: white; 
}
